amqp==2.3.2
backports.functools-lru-cache==1.5
beautifulsoup4==4.6.3
billiard==3.5.0.4
bs4==0.0.1
certifi==2018.10.15
chardet==3.0.4
Click==7.0
cssutils==1.0.2
cycler==0.10.0
Flask==1.0.2
idna==2.7
itsdangerous==1.1.0
Jinja2==2.10
kiwisolver==1.0.1
kombu==4.2.1
logging==0.4.9.6
lxml==4.2.5
MarkupSafe==1.1.0
numpy==1.15.4
opencv-python==3.4.4.19
Pillow==5.3.0
pyparsing==2.3.0
python-dateutil==2.7.5
pytz==2018.7
requests==2.21.0
rq==0.5.6
scikit-learn==0.20.1
scipy==1.1.0
six==1.11.0
sklearn==0.0
subprocess32==3.5.3
urllib3==1.24.1
vine==1.1.4
Werkzeug==0.14.1
